<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>ReviewsMark</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <link href="static/css/home.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">ReviewsMark</h1>
            </div>
          </header>
          <div class="input-container">
            <form action="review" class="inner cover" method="GET">
              <p class="lead">Paste the URL of the Amazon product you want to analyse.</p>
              <input class='form-control' name="url" id="url" placeholder="Insert an Amazon product URL">
              <p class="lead">
                <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
              </p>
            </form>
          </div>
            <footer class="mastfoot">
              <div class="inner">
                <p>HackJunction - 2017</p>
              </div>
            </footer>
            
        </div>

      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>