<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ReviewsMark</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <link href="static/css/home.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <header class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">ReviewsMark</h1>
            </div>
          </header>

          <h1> The URL is {{ url }}</h1>

          <footer class="mastfoot">
            <div class="inner">
              <p>HackJunction - 2017</p>
            </div>
          </footer>

        </div>

      </div>

    </div>
    </body>
</html>