<!doctype html>
<html lang="en">
  <head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="../static/css/404.css">
  </head>
  <body>
    <div class="wrapper row2">
      <div id="container" class="clear">
        <section id="fof" class="clear">
          <a class="go-back" href="javascript:history.go(-1)">Back</a>
          <div class="positioned">
            <h1>404 Error !</h1>
            <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
          </div>
          <a class="go-home" href="/home">Home</a>
        </section>
      </div>
    </div>
  </body>